server {
	listen 80;
	listen [::]:80;
	server_name woodsmen.nl www.woodsmen.nl;

	access_log /var/log/nginx/doekman/woodsmen/access.log;
	error_log /var/log/nginx/doekman/woodsmen/error.log;

	return 301 http://the.woodsmen$request_uri;
}
server {
	listen 80 default_server;
	listen [::]:80 default_server;
	server_name the.woodsmen.nl;

	access_log /var/log/nginx/doekman/access.log;
	error_log /var/log/nginx/doekman/error.log;

	keepalive_timeout 5;
	root /home/remotebeheer/doekman/woodsmen/wwwroot;

	location = /favicon.ico { 
		access_log off; 
	}
	#Configuration for Let's Encrypt's certbot + security.txt
	location /.well-known/ {
		allow all;
	}
	location /nginx_status {
		stub_status on;
		access_log off;
		allow 127.0.0.1;
		deny all;
	}
}
